 version: 2.1
 jobs:
  build:
    docker:
      - image: mcr.microsoft.com/windows/servercore:1909
    steps:
      - checkout
      # ... steps for building/testing app ...

      # build and push Docker image
      - run: |
          TAG=latest
          docker build -t iorp/achieve-adagent:$TAG .
