 version: 2.1
 orbs:
  win: circleci/windows@2.2.0
 jobs:
  build:
    executor:
      name: win/default
    steps:
      - checkout
      # ... steps for building/testing app ...

      # build and push Docker image
      - run: |
          .\docker-build.ps1 -dockerfileName Dockerfile1809 -TAG 1809
      - run: |
          docker login --username $DOCKER_LOGIN --password $DOCKER_PASSWORD $DOCKER_HOST
  
