 version: 2.1
 orbs:
  win: circleci/windows@2.2.0
 jobs:
  build:
    executor:
      name: win/default
    steps:
      - checkout
      # ... steps for building/testing app ...

      # build and push Docker image
      - run : |
          $login=[Text.Encoding]::Utf8.GetString([Convert]::FromBase64String($DOCKER_LOGIN))
      - run: |
          $password=[Text.Encoding]::Utf8.GetString([Convert]::FromBase64String($DOCKER_PASSWORD))
      - run: |
          $dhost=[Text.Encoding]::Utf8.GetString([Convert]::FromBase64String($DOCKER_HOST))
      - run: |
          docker build -f Dockerfile1809 -t iorp/achieve-adagent:1809 .
      - run: |
          docker login --username $login --password $password $dhost
      - run: |
          docker push iorp/achieve-adagent:1809  
