name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: [windows-2016, windows-2019]

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        docker build --file Dockerfile1809 --tag iorp/achieve-adagent:1809 .
    - name: Publish on dockerhub
      run: |
        echo  ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin ${{ secrets.DOCKER_HOST }}
        docker push iorp/achieve-adagent:1809
      
